name: Build and Publish Docker
on:
  workflow_dispatch:
jobs:
     build:
       runs-on: ubuntu-latest
       steps:
       - uses: actions/checkout@master
       - name: Publish to Docker Repository
         uses: elgohr/Publish-Docker-Github-Action@master
         with:
          name: w8ves/docker
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
